<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.water_drinking_whale">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />

    <application
        android:name=".WDWApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.mypage.EditWeightActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.mypage.EditPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.mypage.EditNameActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.log.ChartActivity"
            android:exported="false" />

        <receiver android:name=".presentation.notice.NotificationReceiver" />

        <activity
            android:name=".presentation.mypage.MyPageActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.log.LogActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.award.AwardActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.notice.NoticeActivity"
            android:exported="false" />
        <activity
            android:name=".InitActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.main.MainActivity"
            android:exported="true" />
    </application>

</manifest>